<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 ">
        <h1 class="text-title">Completa tu información</h1>
        <form class="form-container">
          <div class="row">
            <div class="form-group col">
              <label for="age">Edad</label>
              <input type="text" class="form-control" [textMask]="{mask: mask}" id="age" maxlength="3" name="n1" [(ngModel)]="user.age"
                autocomplete="off" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label for="marriageStatus">Estado Civil</label>
              <select class="custom-select" name="n2" id="marriageStatus" [(ngModel)]="user.marriageStatus" required>
                <option *ngFor="let type of marriageStatus" [ngValue]="type.descripcion">{{type.descripcion}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary custom-btn btn-block" [disabled]="!form.valid" (click)="save()">Guardar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>